body{
    background-color: #e6e6e6;
    font-family: 'Nunito', sans-serif;
}

.content{
    height:auto;
    min-height:70vh;
}

.home{
    background-image: url('/img/jumo.jpg');
    height: 70vh;
}

.title{
    font-family: 'Pacifico', cursive;
}

.bg-secondary{
    background-color: #1a1a1a !important;
}

.copyright{
    background-color: #ed6d54 !important;
}

.bg-primary{
    background-color: #26df9c !important;
}

.nav{
    font-weight: 700;
}

.img-card{
    height: 18vw;
    object-fit: cover;
}

.profile{
    max-height: 750px;
}