body{
    background-color: #f1ece0;
    font-family: 'Nunito', sans-serif;
}

.content{
    height:auto;
    min-height:70vh;
}

.title{
    font-family: 'Pacifico', cursive;
    
}

.bg-secondary{
    background-color: #2e313c !important;
}

.copyright{
    background-color: #452f37;
}

.bg-primary{
    background-color: #c69f5c !important;
}

.nav{
    font-weight: 700;
}

.img-card{
    height: 18vw;
    object-fit: cover;
}